header {
  text-align: center;
  background-color: darkblue;
  color: white;
  /* positionプロパティでstickyを適用 */
  position: sticky;
  top: 12px;
}

main {
  text-align: center;
}

div {
  margin-bottom: 32px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

p {
  margin: 0;
}